.navbar {
    background-color: black;
    width: 100%;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 10px 17px;
}

.navbar li a {
    padding: 0;
    text-decoration: none;
    color: white;
}

.boxw {
    width: 80%;
    margin-left: 10%;
}

.wrapper {
    margin: 40px auto;
    width: 100%;
    height: 200px auto;
    background-color: rgb(240, 240, 240);
    align-self: center;
}

.wrapper1 {
    margin: 40px auto;
    width: 100%;
}

.wrapper h1 {
    text-align: left;
    margin: 20px;
    padding-top: 20px;
}

.wrapper p {
    text-align: left;
    margin: 20px auto;
    padding-left: 20px;
}

.wrapper button {
    margin: 20px auto;
}

.box {
    align-items: center;
    justify-content: left;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    float: left;
    margin-bottom: 60px;
    margin: 2px;
}

.box img {
    width: 100%;
}

.box h2 {
    margin-left: 5px;
}

.box p {
    margin-left: 5px;
}

.box1 {
    align-items: center;
    justify-content: left;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    float: left;
    margin-bottom: 60px;
    margin: 2px;
}

.box1 img {
    width: 100%;
}

.box1 h2 {
    margin-left: 5px;
}

.box1 p {
    margin-left: 5px;
}

.box2 {
    align-items: center;
    justify-content: left;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    float: left;
    margin-bottom: 60px;
    margin: 2px;
}

.box2 img {
    width: 100%;
}

.box2 h2 {
    margin-left: 5px;
}

.box2 p {
    margin-left: 5px;
}

.box3 {
    align-items: center;
    justify-content: left;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    float: left;
    margin-bottom: 60px;
    margin: 2px;
}

.box3 img {
    width: 100%;
}

.box3 h2 {
    margin-left: 5px;
}

.box3 p {
    margin-left: 5px;
}

.btn0 {
    background-color: #008CBA;
    border-radius: 0.1cm;
    border-width: 0ch;
    width: 90px;
    height: 30px;
}

.btn {
    background-color: #008CBA;
    border-radius: 0.1cm;
    border-width: 0ch;
    width: 90px;
    height: 30px;
    margin-left: 5px;
}

.btnm {
    border-radius: 0.1cm;
    border-width: 0ch;
    width: 90px;
    height: 30px;
    border-color: solid;
}

@media screen and (max-width: 1024px) {
    .box,
    .box1,
    .box2,
    .box3 {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .box,
    .box1,
    .box2,
    .box3 {
        width: 45%;
    }
    .container .header {
        font-size: 16px;
        height: 60px;
    }
}

@media screen and (max-width: 568px) {
    .box,
    .box1,
    .box2,
    .box3 {
        width: 100%;
    }
    .container .header {
        font-size: 14px;
    }
}
